.dk-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;

  .main-bg {
    display: block;
    height: 30%;
    margin: 10px auto;

    width: 90%;
  }

  b {
    display: block;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 24px;
  }

  p {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 2.5% 10%;
    left: 10%;
    bottom: 20%;
    text-align: left;
    margin: 0 auto;
  }

  #player {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .player {
      width: 100%;
    }
  }
}

.dk-container {
  padding: 5% 5%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  figcaption {
    font-size: 1.125vw;
    font-weight: bold;

    span {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 780px) {
  .dk-wrap {
    p {
      width: 90%;
      margin: 0;
      padding: 0;
    }
  }
}
