footer {
  position: relative;
  top: 100%;
  width: 100%;

  .footer-top {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    padding: 30px 5%;

    .footer-content {
      display: flex;
      justify-content: space-around;

      li a {
        display: block;
        padding: 5px 0px;
      }
    }
    address p {
      display: block;
      margin-top: 50px;
    }
  }

  .footer-bottom {
    background-color: #333;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 5px 10px;
        border-right: 1px solid #ddd;
        color: #ddd;
      }
    }
    small {
      font-size: 14px;
      color: #ddd;
    }
  }
}

@media screen and (max-width: 1080px) {
  footer {
    .footer-top {
      .footer-content {
        display: none;

        address {
          p {
            font-size: 14px;
          }
        }
      }
    }
    .footer-bottom {
      .notice {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li a {
          font-size: 16px;
          border: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  footer {
    .footer-top {
      display: none;

      address p {
        display: none;
      }
    }

    .footer-bottom {
      height: 200px;
      .notice {
        padding: 0;
        li a {
          font-size: 14px;
          border: 0;
        }
      }

      small {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0;
      }
    }
  }
}
