.placeholder {
  display: none;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 1000;
  opacity: 1;
}

header.hidden {
  opacity: 0;
}

.header-top {
  width: 100%;
  height: 25%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

.header-top li {
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
}

.header-top li a {
  font-size: 12px;
  display: block;
  color: #fff;
  margin: 0 10px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.header-bottom {
  position: relative;
  padding: 0 5%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
  }

  nav {
    position: absolute;
    bottom: -10px;
    margin-right: 0%;
    width: 50%;
    transform: translateX(20%);

    li {
      display: inline-block;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 4px;
        background: dodgerblue;
        transition: width 0.5s;
      }
      &:hover::after {
        width: 100%;
        background-color: dodgerblue;
      }

      &:nth-child(1) a,
      &:nth-child(2) a,
      &:nth-child(3) a {
        font-weight: bold;
      }

      a {
        display: block;
        color: #111;
        padding: 10px 5px;
        font-size: 16px;
        font-weight: 300;
        transition: all 0.3s;

        &:hover {
          color: dodgerblue;
        }
      }
    }
  }
}

nav {
  position: absolute;
  bottom: 0;
}

nav ul {
  width: 100%;
  padding-left: 0;

  li {
    width: calc(100% / 6);
    text-align: center;
  }
}

.quick li {
  display: inline-block;

  a {
    display: block;
    font-weight: 300;
    padding: 5px 10px;
  }
}

.util {
  display: flex;
  align-items: center;
  justify-content: space-around;

  i {
    font-size: 20px;
  }

  form {
    width: 30%;
    display: flex;
    align-items: flex-start;
  }

  input {
    padding: 2px;
    padding-left: 20%;
    width: 10vw;
    height: 30px;
    border: 0;
    background-color: #eee;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  button {
    border: 0;
    outline: 0;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button i {
    background-color: #eee;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li a {
    display: block;
    margin-left: 20px;
    transition: all 0.3s;

    &:hover {
      color: crimson;
    }
  }
}

.header-bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-bottom-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  .quick {
    li a {
      color: #111;
    }
  }

  .util {
    li a i {
      color: #111;
    }
  }
}

@media screen and (max-width: 1080px) {
  header {
    height: 100%;
    .header-top {
      display: none;
    }

    .header-bottom {
      align-items: center;
    }

    .quick {
      display: none;
    }

    .util {
      padding: 0;
    }
  }
}

@media screen and (max-width: 780px) {
  header {
    width: 100%;
    height: 80px;
    justify-content: center;

    #logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .util {
      input,
      button {
        display: none;
      }
    }
  }

  @media screen and (max-width: 780px) {
    .sub {
      display: none;
    }

    header {
      .header-bottom {
        .placeholder {
          z-index: 1000;
          position: fixed;
          display: block;
          width: 50%;
          height: 100vh;
          left: 50%;
          top: 0;
          background-color: transparent;
          cursor: pointer;
        }

        nav {
          position: fixed;
          top: 0;
          left: 0px;
          width: 50%;
          height: 100vh;
          background-color: #fff;
          z-index: 100;
          box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
          transform: translateX(0%);

          ul {
            flex-direction: column;

            li {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              cursor: pointer;
              width: 100%;
              height: 60px;
              border-bottom: 1px solid #eee;

              &::after {
                display: none;
              }

              a {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
