.section4 {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  padding: 5% 5%;

  article {
    width: 45%;

    h3 {
      font-weight: bold;
    }

    p {
      font-size: 1.125rem;
      text-indent: 1rem;
    }
  }
}

@media screen and (max-width: 1080px) {
  .section4 {
    display: none;
  }
}
