.sub {
  width: 100%;
  z-index: 100;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;

  .sub-category {
    padding: 1% 5%;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(8, 12%);
    gap: 0.5%;
    background-color: #fff;

    ul li {
      font-size: 14px;
      font-weight: 300;
      line-height: 2;
    }
  }

  .sub-category > li {
    display: inline-block;
    color: #111;
    text-align: left;
    font-size: 1vw;

    &:nth-child(1) {
      grid-column: 3 / 4;
      border-right: 1px solid #ddd;
    }
  }
}


