header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 1000;
  opacity: 1;
}

header.hidden {
  opacity: 0;
}

.header-top {
  width: 100%;
  height: 25%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}
.header-top ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.header-top li {
  display: inline-block;
  width: 33.3333333333%;
  text-align: center;
}

.header-top li a {
  font-size: 12px;
  display: block;
  color: #fff;
  margin: 0 10px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.header-bottom {
  position: relative;
  padding: 0 5%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom #logo img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.header-bottom nav {
  position: absolute;
  bottom: -10px;
  margin-right: 0%;
  width: 50%;
  transform: translateX(20%);
}
.header-bottom nav li {
  display: inline-block;
}
.header-bottom nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: dodgerblue;
  transition: width 0.5s;
}
.header-bottom nav li:hover::after {
  width: 100%;
  background-color: dodgerblue;
}
.header-bottom nav li:nth-child(1) a, .header-bottom nav li:nth-child(2) a, .header-bottom nav li:nth-child(3) a {
  font-weight: bold;
}
.header-bottom nav li a {
  display: block;
  color: #111;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s;
}
.header-bottom nav li a:hover {
  color: dodgerblue;
}

nav {
  position: absolute;
  bottom: 0;
}

nav ul {
  width: 100%;
  padding-left: 0;
}
nav ul li {
  width: 16.6666666667%;
  text-align: center;
}

.quick li {
  display: inline-block;
}
.quick li a {
  display: block;
  font-weight: 300;
  padding: 5px 10px;
}

.util {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.util form {
  width: 30%;
  display: flex;
  align-items: flex-start;
}
.util input {
  padding: 2px;
  padding-left: 20%;
  width: 10vw;
  height: 30px;
  border: 0;
  background-color: #eee;
}
.util input:focus {
  border: 0;
  outline: 0;
}
.util button {
  border: 0;
  outline: 0;
  height: 30px;
  cursor: pointer;
}
.util button i {
  background-color: #eee;
  height: 30px;
}
.util li a {
  display: block;
  margin-left: 20px;
  transition: all 0.3s;
}
.util li a:hover {
  color: crimson;
}

.header-bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-bottom-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.header-bottom-right .quick li a {
  color: #111;
}
.header-bottom-right .util li a i {
  color: #111;
}

@media screen and (max-width: 1080px) {
  header {
    height: 100%;
  }
  header .header-top {
    display: none;
  }
  header .header-bottom {
    align-items: center;
  }
  header .quick {
    display: none;
  }
  header .util {
    padding: 0;
  }
}
@media screen and (max-width: 780px) {
  header {
    width: 100%;
    height: 80px;
    justify-content: center;
  }
  header #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  header .util input,
header .util button {
    display: none;
  }
}
@media screen and (max-width: 780px) and (max-width: 780px) {
  .sub {
    display: none;
  }
  header .header-bottom nav {
    position: fixed;
    top: 0;
    left: 0px;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
    transform: translateX(0%);
  }
  header .header-bottom nav ul {
    flex-direction: column;
  }
  header .header-bottom nav ul li {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
  }
  header .header-bottom nav ul li::after {
    transform: translateY(15px);
  }
}
.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-txt {
  position: absolute;
  left: 10%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.hero-txt:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.hero h1 {
  display: block;
  font-size: 3vw;
  color: #fff;
}
.hero p {
  display: block;
  font-size: 1vw;
  color: #fff;
}
.hero a {
  display: block;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  transition: all 0.3s;
}
.hero a:hover {
  background: rgb(255, 255, 255);
}

main {
  width: 100%;
}
main .section {
  width: 100%;
  padding: 2% 5%;
}
main .section h2 {
  font-size: 30px;
  font-weight: bold;
}
main .section p {
  font-size: 16px;
}
main .section .swiper {
  width: 100%;
}
main .section .card {
  margin: 30px 10px;
  cursor: pointer;
  padding-bottom: 5%;
  border: 1px solid transparent;
}
main .section .card:hover {
  border: 1px solid #ccc;
}
main .section .card img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
main .section .card span {
  color: #888;
}

.section4 {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  padding: 5% 5%;
}
.section4 article {
  width: 30%;
}

@media screen and (max-width: 1080px) {
  .section4 {
    display: none;
  }
}
.signup {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  color: #fff;
}
.signup a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #fff;
  margin: 10px 20px;
  border-radius: 10%;
  transition: all 0.3s;
  color: white;
}
.signup a:hover {
  background-color: white;
  color: skyblue;
  border: 1px solid white;
}

@media screen and (max-width: 780px) {
  .signup h2 {
    font-size: 16px;
  }
}
footer {
  position: relative;
  top: 100%;
  width: 100%;
}
footer .footer-top {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding: 30px 5%;
}
footer .footer-top .footer-content {
  display: flex;
  justify-content: space-around;
}
footer .footer-top .footer-content li a {
  display: block;
  padding: 5px 0px;
}
footer .footer-top address p {
  display: block;
  margin-top: 50px;
}
footer .footer-bottom {
  background-color: #333;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-bottom li {
  display: inline-block;
}
footer .footer-bottom li a {
  display: block;
  padding: 5px 10px;
  border-right: 1px solid #ddd;
  color: #ddd;
}
footer .footer-bottom small {
  font-size: 14px;
  color: #ddd;
}

@media screen and (max-width: 1080px) {
  footer .footer-top .footer-content {
    display: none;
  }
  footer .footer-top .footer-content address p {
    font-size: 14px;
  }
  footer .footer-bottom .notice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-bottom .notice li a {
    font-size: 16px;
    border: 0;
  }
}
@media screen and (max-width: 780px) {
  footer .footer-top {
    display: none;
  }
  footer .footer-top address p {
    display: none;
  }
  footer .footer-bottom {
    height: 200px;
  }
  footer .footer-bottom .notice {
    padding: 0;
  }
  footer .footer-bottom .notice li a {
    font-size: 14px;
    border: 0;
  }
  footer .footer-bottom small {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
  }
}
.sub {
  width: 100%;
  z-index: 100;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
.sub .sub-category {
  padding: 1% 5%;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(8, 12%);
  gap: 0.5%;
  background-color: #fff;
}
.sub .sub-category ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
}
.sub .sub-category > li {
  display: inline-block;
  color: #111;
  text-align: left;
  font-size: 1vw;
}
.sub .sub-category > li:nth-child(1) {
  grid-column: 3/4;
  border-right: 1px solid #ddd;
}

.detail {
  width: 100%;
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(6, 16.6666667%);
  opacity: 0;
  transition: opacity 0.6s;
}
.detail article {
  grid-column: 5/span 1;
  padding-top: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.detail article .product-info {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detail article h2 {
  font-style: italic;
  font-size: 30px;
}
.detail article a {
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
  color: #fff;
  background-color: #555;
  text-align: center;
  transition: all 0.3s;
}
.detail article a:hover {
  background-color: black;
}
.detail article ul a {
  text-decoration: underline;
  background-color: #fff;
  color: #000;
  border: none;
  text-align: left;
}
.detail article ul a:hover {
  color: #fff;
}
.detail figure {
  margin: 0;
  grid-column: 2/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail figure img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1080px) {
  .detail {
    display: flex;
    flex-direction: column;
  }
  .detail figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detail figure img {
    width: 70%;
  }
  .detail article {
    padding: 5%;
  }
  .detail article ul {
    padding: 0;
  }
  .detail article .product-info {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail article .product-info div {
    margin: 5% 0;
  }
}
.dk-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.dk-wrap .main-bg {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.dk-wrap b {
  display: block;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
  font-size: 24px;
}
.dk-wrap p {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  padding: 2.5% 10%;
  left: 10%;
  bottom: 20%;
  text-align: center;
  margin: 0 auto;
}
.dk-wrap #player {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.dk-wrap #player .player {
  width: 100%;
}
.dk-wrap article {
  margin: 5% 0;
}

.dk-container {
  padding: 5% 5%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.dk-container img {
  width: 100%;
}
.dk-container figcaption {
  font-size: 1.125vw;
  font-weight: bold;
}
.dk-container figcaption span {
  font-size: 14px;
}

@media screen and (max-width: 780px) {
  .dk-wrap p {
    width: 90%;
    margin: 0;
    padding: 0;
  }
}
.wrap {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap form {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.wrap form label {
  font-size: 16px;
  font-weight: 100;
}
.wrap form input {
  height: 30px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid skyblue;
  outline: 0;
}
.wrap form input:focus {
  border: 2px solid skyblue;
}
.wrap form button {
  margin-top: 20px;
  height: 30px;
  width: 20%;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: dodgerblue;
  opacity: 0.5;
  border: 1px solid dodgerblue;
  transition: all 0.2s;
  cursor: pointer;
}
.wrap form button:hover {
  opacity: 1;
}

.user {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.user a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.fadein {
  opacity: 1;
}

.fadein {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body a {
  color: #111;
  text-decoration: none !important;
}
body a:hover {
  color: dodgerblue;
}

ul {
  margin-bottom: 0;
  padding: none;
}

html,
body {
  height: 100%;
  min-height: 110vh;
}
html figure,
body figure {
  margin: 0;
}
html ul,
body ul {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=layout.css.map */